.button {
    background-color: pink;
    color: white;
    text-decoration: none;
    padding: 3px 15px;
    transition: 0.3s;
    border-radius: 3px;
    border: none;
  }

.button:hover{
  background-color: darkslategray;
  color: white;
}

.deleteButton {
  background: rgb(199, 15, 49);
  color: white;
  text-decoration: none;
  padding: 3px 15px;
  transition: 0.3s;
  border-radius: 3px;
  border: none;
}

.deleteButton:hover{
background-color: green;
color: white;
}